ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.fixed {
	width: 100%;
	position: fixed;
	z-index: 999;
}

.top-nav {
	background-color: #000;
	color: #fff;
	padding: 20px;
}

.left-side > li{
	display: inline;
	margin: 0 20px;
}